#partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-color: transparent;
    color: white;
    background-image: linear-gradient(to left, white 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    
    /* width: 220px; */
    width: 275px;
    min-width: 275px;
  }
  /* #partitioned:hover {
    background-color: var(--white);
    color: var(--backgroundColor);
  } */
  
  #partitioned:active {
    outline-color: transparent;
  }
  
  
  #divInner{
    left: 0;
    position: sticky;
  }
  
  #divOuter{
    width: 1; 
    overflow: hidden;
  }