.footer {
  
  }

.inventory {
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.inventory-backpack{
    position: relative;
    z-index: 3;
}
.inventory-content {
    padding: 16px;
    background-color: palegoldenrod;
    border-radius: 8px;
    min-height: 80px;
    width: calc(100% - 88px);
    display: block;
    z-index: 1;
    position: relative;
    top: 24px;
    left: 24px;
}