/* @font-face {
  font-family: 'QuestFont';
  src: local('QuestFont'), url(./fonts/EnchantedLand.otf) format('otf');
} */
@font-face {
  font-family: 'QuestFont';
  src: local('QuestFont'), url(./assets/fonts/Cardinal.ttf) format('truetype');
}

body {
  margin: 2;
  background-color: #282c34;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 18px;
}

button {
  background-color: palegoldenrod;
  color: #382807;
  font-weight: 700;
  font-size: 24px;
  font-family: QuestFont;
}

.center {
  text-align: center;
}